<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <form [formGroup]="signinForm" (ngSubmit)="onSignin()">
        <h2>SIGN IN</h2>
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="name">UserName</label>
              <input
                type="text"
                id="name"
                class="form-control"
                formControlName="name"
              />
            </div>
            <div class="invalid" *ngIf="signinForm.get('name')?.errors"></div>

            <div
              class="invalid"
              *ngIf="
                signinForm.get('name')?.touched &&
                signinForm.get('name')?.hasError('required')
              "
            >
              *Name is required
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="password">Password</label>
              <input
                type="password"
                id="password"
                class="form-control"
                formControlName="password"
              />
            </div>
            <div
              class="invalid"
              *ngIf="
                signinForm.get('password')?.touched &&
                signinForm.get('password')?.hasError('required')
              "
            >
              *password is required
            </div>
          </div>
        </div>
        <input
          type="checkbox"
          id="remember"
          name="remember"
          value="remember"
          (change)="toggleRememberMe()"
        />
        <label for="remember"> keep me signed in</label><br />
        <br />
        <button type="submit" class="btn btn-primary" (click)="onSignin()">
          Signin
        </button>

        <ul routerLinkActive="active">
          <a routerLink="/signup">New Member</a>
        </ul>
      </form>
    </div>
  </div>
</div>
